body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 97vw;
    height: 95vh;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

button {
    color: white;
    background-color: rgb(44, 42, 165);
    border-radius: 0.5rem;
    border: none;
    padding: 0.2rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 4rem;
    gap: 2rem;
}

.center {
    width: 100%;
    height: 100%;
}

.page-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0.5rem 0.5rem 1rem grey;
}

.card {
    background-color: white;
    max-width: 10rem;
    min-width: 6rem;
    max-height: 14rem;
    min-height: 6rem;
    flex: 1;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.5rem grey;
    justify-content: space-between;
}

.new-book {
    display: flex;
    flex-direction: column;

}

.cards-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    height: auto;
}

.new-book-btn {
    width: 10rem;
    height: 2rem;
}


.book-title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: 0.2rem 0.2rem 0.4rem grey;
}

.text-read {
    padding: 0.5rem;
    padding-bottom: 0.1rem;
}
